@import url('https://fonts.cdnfonts.com/css/ninja-naruto');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eb474a69-cf12-4a80-9735-703239dca1fd/dc0c07g-cabdc08e-9326-49ba-9d2e-dd3634bb23af.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ViNDc0YTY5LWNmMTItNGE4MC05NzM1LTcwMzIzOWRjYTFmZFwvZGMwYzA3Zy1jYWJkYzA4ZS05MzI2LTQ5YmEtOWQyZS1kZDM2MzRiYjIzYWYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GndPI9s9TjxH6-7bnnfhJInR6vtinkapEHz36yPiZ_E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

h2 {
    font-family: 'Ninja Naruto';
    font-size: 40px;
    color: orange;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}

h3 {
    font-family: 'Ninja Naruto';
    font-size: 40px;
    color: lightblue;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: navy;
}

h4 {
    font-family: 'Ninja Naruto';
    font-size: 25px;
    color: rgb(0, 162, 255);
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: navy;
}

/* ===============================
CUSTOM SEIR STYLES
=============================== */

.stats {
    display: flex;
    justify-content: space-between;
    font-family: 'Ninja Naruto';
    font-size: 15px;
    color: white;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}

.naruto-health,
.sasuke-health {
    padding: 0.5rem;
    background-color: greenyellow;
    border: 3px darkgreen solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.naruto-chakra,
.sasuke-chakra {
    padding: 0.5rem;
    background-color: skyblue;
    border: 3px darkblue solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.carousel button {
    text-align: center;
    background-color: lightblue;
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 30px;
    line-height: 3px;
    padding: 1rem;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Ninja Naruto';
    color: black;
}

.carousel {
    visibility: hidden;
    width: 100vw;
    max-width: 800px;
    padding: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(255, 245, 212);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 250ms;
    opacity: 0;
}

.carousel.open {
    visibility: visible;
    opacity: 1;
}

.carousel img {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.modal-noti {
    visibility: hidden;
    width: 50vw;
    max-width: 500px;
    padding: 50px;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(207, 232, 239);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
}

.modal-noti.open {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.modal-game-over {
    visibility: hidden;
    width: 50vw;
    max-width: 500px;
    padding: 50px;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
}

.modal-game-over.open {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

button:hover {
    transform: scale(0.95);
    transition: transform 150ms ease-in;
}

.naruto-buttons button {
    background-color: orange;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 50px;
    line-height: 3px;
    padding: 1.5rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Ninja Naruto';
    color: black;
}

.sasuke-buttons button {
    background-color: navy;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 50px;
    line-height: 3px;
    padding: 1.5rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Ninja Naruto';
    color: white;
}

.control-panel button:disabled {
    background-color: gray;
    color: black;
}

.play-again {
    text-align: center;
    background-color: orangered;
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 50px;
    line-height: 3px;
    padding: 1.5rem;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Ninja Naruto';
    color: lightgoldenrodyellow;
}

/* ===============================
AVATAR
=============================== */
.player-avatars img {
    max-height: 60vh;
}

.naruto-avatar img {
    position: relative;
    animation: ninja 1s ease infinite alternate;
}

.sasuke-avatar img {
    position: relative;
    animation: swish 1s ease-in-out infinite alternate;
}

.shadow {
    width: 250px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: swishShadow 1s ease-in-out infinite alternate;
}

.blue-ball {
    position: absolute;
    top: 300px;
    left: 350px;
    z-index: 2;
    opacity: 0;
    width: 70px;
    animation: grow 3s ease-in infinite forwards;
}

.fire-ball {
    position: absolute;
    top: 250px;
    left: 600px;
    z-index: 2;
    opacity: 0;
    height: 50vh;
    animation: fade-in 3s ease-in-out infinite forwards;
}


/* ===============================
KEYFRAMES
=============================== */
@keyframes swish {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50px);
    }
}

@keyframes ninja {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes swishShadow {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50px);
    }
}

@keyframes grow {
    from {
        opacity: 0;
        transform: scale(1,1) translateX(-10px);
    }
    to {
        opacity: 100;
        transform: scale(3,3) translateX(200px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(-10px);
    }
}

/* ===============================
Layout STYLES
=============================== */
.general-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}